body {
    background: #666666;
}

h1,
h2,
p {
    color: #ffffff;
}

.container {
    margin-left: 10px;
}

#result {
    margin-left: 10px;
}

input[type="search"] {
    padding: 10px;
    font-weight: bold;
    outline: none;
    border-top: 3px solid black;
    width: 350px;
}

.search>button {
    text-transform: uppercase;
    font-weight: bold;
    padding: 10px;
}

#btnsResult>button {
    text-transform: uppercase;
    padding: 5px;
    margin: 5px 10px 5px 10px;
}